<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="styles.css"/>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}</div>
        <div  id="center1" id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>