<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css"/>
        <title>{% block title %}{% endblock %} - Auctions</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="centeredContent">
          {% if flashMessage %}
          <div class="flashMessage">{{flashMessage}}</div>	<div class="errorMessage">Ther is flashMessage </div>{% endif %}{% block content %}{% endblock %}
        <div  id="center1" id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
            </div>
        </div>
    </body>
</html>