{% extends "master.html.twig" %}
{% block title %}New Auction {% endblock %}
{% block content %}

{% if errorList %}
    <ul>
    {% for error in errorList %}
        <li class="errorMessage">{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}



<h1> New Auction</h1>
 <form method="post" enctype="multipart/form-data">
       sellers name: <input type="text" name="sellersName" value={{v.sellersName}}><br>
       sellers email: <input type="email" name="sellersEmail" value={{ v.sellerEmail }}><br>
        Initial bid price: <input type="text" name="lastBidPrice" value={{ v.lastBidPrice }}><br>
       Description:<br> <textarea name="itemDescription" cols="60" rows="10">{{ v.itemDescription}}</textarea></br>
       
       <input type="submit" value="Create auction""></br>
       Photo : <input type="file" name="photo" /><br>
    </form>

{% endblock %}