body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px; */
    background-color: white;
}
#center1 {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px; */
   
}
.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}
